:root {
  --green: #27ae60;
  --red: #8d1004;
  --brown: #b69a76;
  --dark-color: #219150;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  transition: width none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.animated {
    animation-name: fadeIn;
    animation-duration: 2s;
}

hr {
  border: none; /* Remove default border */
  height: 1px; /* Set the height of the line */
  background-color: #333; /* Set the color of the line */
  margin: 10px 0; /* Add some vertical spacing */
}

img {
    width:55%;
    height:auto;
}

a:link,
a:visited {
  text-decoration: none;
}
